/* menu items style */
.landing-header__menu__item {
    font-weight: 600;
    font-size: 1.1em;
    text-transform: capitalize;
    /* not needed for now */
    /* line-height: 1.8em; */
}

/* menu items hover over animation */

.landing-header__menu__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #958FFF;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.landing-header__menu__item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* action buttons styles (i.e. login sign up) */

.landing-header__action-buttons__item {
    /* font properties */
    font-weight: 700;
    font-size: 1.1em;
}