.auth__form-button {
    /* button properties */
    padding:8px 14px;

    /* font properties */
    font-weight: 700;
    font-size: 1.1em;
}

.register__action-text {
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: -0.02em;
    text-align: center;

    /* Override Margins set by default by MUI */
    margin-block-start: 0;
    margin-block-end: 0;
}

.register__action-text--secondary {
    font-size: 1em;
    letter-spacing: -0.02em;
    text-align: center;

    /* Override Margins set by default by MUI */
    margin-block-start: 0;
    margin-block-end: 0;
}