  /* ====================================================== Create Habit styles ======================================================*/
  
  .new_habit_button {
     display: flex;
     margin-inline: auto;
     position: fixed;
     right: clamp(18px, 2vw, 30px);
     bottom: clamp(18px, 2vw, 40px);
     background-color: #655dff;
     color: #ffffff;
     max-height: 42px;
     overflow: hidden;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .new_habit_button_text {
     opacity: 0;
     width: 0px;
     scale: 0;
     transition: all 0.3s ease-in-out;
  }

  .new_habit_button:hover .new_habit_button_text {
     width: 60px;
     opacity: 1;
     scale: 1;
     padding-inline: 8px;
     padding-block: 4px;
     border-radius: 10px;
  }

  .new_habit_button:hover {
   padding-inline: 6px;
   padding-block: 2px;
   border-radius: 10px;
   background-color: #655dff;
}


/* ==== CSS Animations when the space has no habits and the habit button has to have a call to aciton styling */

.pulse_animation {
   animation: pulse 3s infinite;
   padding-inline: 6px;
   padding-block: 6px;
   border-radius: 10px;
   background-color: #655dff;
}

@keyframes pulse {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.05);
   }

   100% {
      transform: scale(1);
   }
}



/* ====================================================== Break Screen 600px ======================================================*/
@media screen and (min-width: 600px) {
   .new_habit_button {
      scale: 1.1;
   }
}

/* ====================================================== Break Screen 1400px ======================================================*/
@media screen and (min-width: 1400px) {
   .new_habit_button {
      right: 7%;
      bottom: clamp(8px, 4vw, 40px);
      scale: 1.2;
   }
}


   /* TODO ALL OF THE ABOVE CAN BE SEPARATED INTO OWN CSS FILE, maybe a component can be created for the create-habit actions */






  /* ====================================================== ScoreCard/calendar Habit container styles ======================================================*/

  .habit_title_container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 1px;
  }

  .habit_title {
     font-size: clamp(10px, 4vw, 14px);
     text-overflow: 'ellipsis';
     overflow: 'hidden';
     cursor: pointer;
     transition: color 0.2s ease-in-out;
  }

  .habit_title:hover {
   color: #84cec1;
}


  .habit_title::first-letter {
     text-transform: capitalize;
  }


  /* ====================================================== breakpoint Screen 600px bellow ======================================================*/
  @media screen and (max-width: 600px) {
     .habit_title_container {
        padding-bottom: 1px;
        margin-bottom: 4px;
     }
  }

  /* ====================================================== Break Screen 600px ======================================================*/
  @media screen and (min-width: 600px) {
     .habit_title {
        position: relative;
        font-size: clamp(1rem, 3vw, 1.1rem);
        font-weight: 500;
        width: (150px, 8vw, 200px);
     }
  }


  /* ====================================================== Edit Habit button styles ===================================================*/
   .habit_title_container:hover .habit_edit_button {
      opacity: 1;
   }

   .habit_edit_button {
      opacity: 0.1;
      border-radius: 5px;
      padding: 3px;
      scale: 0.9;
      transition: opacity 0.2s ease-in-out;
   }